<div class="bg-white p-2 container rounded">
  <div class="border-b-2">
    <p class="text-xl">
      <%= question.body %>
    </p>
  </div>

  <div class="mb-8">
    <div class="flex gap-2 mt-4">
      <p class="btn-primary bg-blue-400"><%= link_to "Edit", edit_question_path(question) %></p>
      <p class="btn-primary bg-red-500"><%= link_to "Destroy", question_path(question), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>

      <div>
        <p class="text-gray-400"><%= l(question.created_at, format: :short) %></p>
      </div>
    </div>
  </div>
</div>