<div class="bg-white p-2 container rounded">
  <%= render 'form', question: @question %>

  <div class="mt-8">
    <h1 class="text-2xl mb-4">
        <%= @questions.count %>
        <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
    </h1>
  </div>
</div>

<% @questions.each do |question| %>
  <div class="container my-4">
    <%= render question %>
  </div>
<% end %>
