<div class="w-full">
  <div>
    <p class="text-2xl mb-4">Вопрос <%= @question.id %></p>
  </div>

  <%= render @question %>

  <div class="mt-8">
    <%= link_to "All questions", "/questions" %>
  </div>

</div>

